<div class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">It's time you chose your movie</h1>
      <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
      <a href="#" class="btn float-left mt-3 btn-danger p-3 btn-xl rounded-pill ">Learn More</a>
    </div>
  </div>
  </div>


<!--CARDS-->
<div id="containercards" class="container">
    <div class="row">
      <div class="card-deck">
        <div class="card">
           <img class="card-img-top" src="assets/img/imagem0.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Dumbo</h4>
            <button class="btn btn-light" type="submit">mais...</button>
         </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/imagem2.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Aladdin</h4>
            <button class="btn btn-light" type="submit">mais...</button>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/imagem3.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Avengers</h4>
              <button class="btn btn-light" type="submit">mais...</button>
            </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="assets/img/imagem4.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">Annabelle</h5>
                <button class="btn btn-light" type="submit">mais...</button>
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/imagem5.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">MIB</h4>
                  <button class="btn btn-light" type="submit">mais...</button>
                </div>
              </div>

      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/img/imagem6.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Fenix Negra</h4>
            <button class="btn btn-light" type="submit">mais...</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/imagem7.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">John Wick 3</h4>
            <button class="btn btn-light" type="submit">mais...</button>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/imagem8.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Pets2</h4>
              <button class="btn btn-light" type="submit">Go</button>
            </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="assets/img/imagem9.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Patrulha</h4>
                <button class="btn btn-light" type="submit">mais...</button>
              </div>
            </div>
            <div class="card ">
                <img class="card-img-top" src="assets/img/imagem1.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Toy Story 4</h4>
                  <button class="btn btn-light" type="submit">mais...</button>
                </div>
              </div>
      </div>
    </div>
</div>

<div class="container-fluid bg-secondary">
  <div class="row">
    <div class="col-16 md-10- sm-4">
      <h1></h1>
    </div>
  </div>
</div>








