<div class="container mt-5 bg-primary">
  <div class="row mt-5">
    <div class="col-md-12 bg-white shadowm-sm p-5">
   <h2>Filmes </h2>
   <form>
      <div class="form-row">
        <div class="col-7">
          <input type="text" class="form-control" placeholder="Product name">
        </div>
      <div class="col">
         <input type="number" class="form-control" placeholder="Price">
      </div>
      <div class="col">
         <input type="number" class="form-control" placeholder="Sales">
      </div>
      <div class="form-check col form-check-inline">
         <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
       <label class="form-check-label text-muted" for="inlineCheckbox1">Active</label>
      </div>
      <div class="col">
         <button type="button" class="btn btn-outline-primary">Create</button>
       </div>
     </div>
    </form>
   </div>
 </div>
</div>


  <!--Catalogo-->
  <div class="container-fluid p-3 m-1">
    <div class="row">
        <div class="card text-white bg-primary">
          <img class="card-img-top" src="assets/img/imagem14.jpg" alt="">
          <div class="card-body">
          <p class="card-text">sku.12341</p>
        </div>
    </div>
<div class="card text-white bg-primary">
    <img class="card-img-top" src="assets/img/imagem15.jpg" alt="">
     <div class="card-body">
     <p class="card-text">Sku.12342</p>
    </div>
  </div>
  <div class="card text-white bg-primary">
      <img class="card-img-top" src="assets/img/imagem16.jpg" alt="">
      <div class="card-body">
      <p class="card-text">sku.12343</p>
      </div>
    </div>
<div class="card text-white bg-primary">
    <img class="card-img-top" src="assets/img/imagem17.jpg" alt="">
    <div class="card-body">
    <p class="card-text">sku.12344</p>
    </div>
  </div>
<div class="card text-white bg-primary">
    <img class="card-img-top" src="assets/img/imagem18.jpg" alt="">
    <div class="card-body">
     <p class="card-text">sku.12345</p>
    </div>
  </div>
<div class="card text-white bg-primary">
    <img class="card-img-top" src="assets/img/imagem19.jpg" alt="">
    <div class="card-body">
      <p class="card-text">sku.12346</p>
    </div>
  </div>
<div class="card text-white bg-primary">
    <img class="card-img-top" src="assets/img/imagem20.jpg" alt="">
    <div class="card-body">
      <p class="card-text">sku.12347</p>
    </div>
  </div>
<div class="card text-white bg-primary">
    <img class="card-img-top" src="assets/img/imagem21.jpg" alt="">
    <div class="card-body">
    <p class="card-text">sku.12348</p>
    </div>
  </div>
<div class="card text-white bg-primary">
    <img class="card-img-top" src="assets/img/imagem22.jpg" alt="">
    <div class="card-body">
      <p class="card-text">sku.12349</p>
    </div>
  </div>
  <div class="card text-white bg-primary">
      <img class="card-img-top" src="assets/img/imagem23.jpg" alt="">
      <div class="card-body">
       <p class="card-text">sku.12350</p>
      </div>
    </div>

    </div>
  </div>

  <!--Formulario-->
  <div class="container-fluid bg-white ">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>FILMES</th>
            <th>PREÇO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let product of products">
            <td scope="row">{{product.sku}}</td>
            <td>{{ product.product}}</td>
            <td>{{product.price | currency }}</td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

