<div class="container m-8 p-5 mt-5">
  <div class="row">
    <div class="col-12 mt-5 m-5 p-5 bg-dark ">
        <div class="text1 text-white "><h2>Registro</h2>
        </div>

    <div class="form-group">
        <form class="form-inline">
            <div class="form-group mx-sm-1">
                <label for="inputPassword2" class="sr-only">First Name</label>
                <input type="Name1" class="form-control" id="inputname1" placeholder="First Name">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                  <label for="inputPassword2" class="sr-only">Last Name</label>
                  <input type="Name2" class="form-control" id="inputname2" placeholder="Last Name">
                </div>
              <div class="form-group mx-sm-3 mb-2">
                  <label for="inputPassword2" class="sr-only">E-mail</label>
                  <input type="E-mail" class="form-control" id="inputemail2" placeholder="E-mail">
                </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <button type="submit" class="btn  mx-sm btn-secondary mb-2">Login</button>
          </form>
          <div class="text2 text-white"><h2>-----Ou----</h2>
          </div>
          <div class="twiter ">
      <!--Botões social-->
      <a class="btn btn-block btn-social bg-info btn-twitter ">
          <span class = "fa fa-twitter"> </span> Entre com o Twitter</a>
      </div>
      <div class="facebook bg-primary ">
        <a class="btn btn-block btn-social  btn-facebook ">
            <span class = "fa fa-facebook" > </span> Entre com o Facebook</a>
      </div>
      <div class="facebook bg-danger ">
          <a class="btn btn-block btn-social  btn-google ">
              <span class = "fa fa-google"> </span> Entre com o Google</a>
     </div>
     </div>
    </div>
  </div>
</div>

